
  * {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
  }
    html {
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
  